{{ attach_library('dphi_base_theme/component.navigation') }}

{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *
 * @ingroup themeable
 */
#}

{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/1.x/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}

	{% import _self as menus %}

	{% if menu_level == 0 %}
		<!--noindex-->
		<nav class="nsw-main-nav js-mega-menu" id="main-nav" aria-label="Main menu">
			<div class="nsw-main-nav__header">
				<div class="nsw-main-nav__title">Menu</div>
				<button class="nsw-icon-button js-close-nav" type="button" aria-expanded="true">
					<span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">close</span>
					<span class="sr-only">Close Menu</span>
				</button>
			</div>
			<ul class="nsw-main-nav__list">
			{% endif %}
			{% for item in items %}
				{% if menu_level == 0 %}
					<li>
						{% if item.below %}
							<a href="{{ item.url }}">
								<span>{{ item.title }}</span>
								<span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_right</span>
							</a>
							<div class="nsw-main-nav__sub-nav" id="sub-nav-{{ item.title | clean_id }}" role="region" aria-label="{{ item.title }} Submenu">
								<div class="nsw-main-nav__header">
									<button class="nsw-icon-button nsw-icon-button--flex js-close-sub-nav" type="button" aria-expanded="false" aria-controls="sub-nav-{{ item.title | clean_id}}">
										<span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_left</span>
										<span>Back<span class="sr-only">
												to previous menu</span>
										</span>
									</button>

									<button class="nsw-icon-button js-close-nav" type="button" aria-expanded="true">
										<span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">close</span>
										<span class="sr-only">Close Menu</span>
									</button>
								</div>
								<div class="nsw-main-nav__title">
									<a href="{{ item.url }}">
										<span>
											{{ item.title }}</span>
										<span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
									</a>
								</div>
								<ul class="nsw-main-nav__sub-list">
								{% else %}
									<a href="{{ item.url }}">
										<span>{{ item.title }}</span>
										{% if menu_level > 0 %}

											<span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_right</span>
										{% endif %}
									</a>
								{% endif %}
							{% endif %}
							{% if menu_level > 0 %}
								<li>
									{% if item.below %}
										<a href="{{ item.url }}" role="button" aria-expanded="false" aria-controls="subnav-{{ item.title }}">
											<span>{{ item.title }}</span>
											<span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_right</span>
										</a>
										<div class="nsw-main-nav__sub-nav" id="sub-nav-{{ item.title }}" role="region" aria-label="{{ item.title }} Submenu">
											<div class="nsw-main-nav__header">
												<button class="nsw-icon-button nsw-icon-button--flex js-close-sub-nav" type="button" aria-expanded="false" aria-controls="sub-nav-{{ item.title }}">
													<span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_left</span>
													<span>Back<span class="sr-only">
															to previous menu</span>
													</span>
												</button>

												<button class="nsw-icon-button js-close-nav" type="button" aria-expanded="true">
													<span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">close</span>
													<span class="sr-only">Close Menu</span>
												</button>
											</div>
											<div class="nsw-main-nav__title">
												<a href="{{ item.url }}">
													<span>
														{{ item.title }}</span>
													<span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
												</a>
											</div>
											<!--div class="nsw-main-nav__description">description</div-->
											<ul class="nsw-main-nav__sub-list">
											{% else %}
												<a href="{{ item.url }}">
													<span>{{ item.title }}</span>
													{% if menu_level > 0 %}
														{% if item.below %}
															<span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_right</span>
														{% endif %}
													{% endif %}
												</a>
											{% endif %}

										{% endif %}
										{% if item.below %}
											{{ menus.menu_links(item.below, attributes, menu_level + 1) }}
										{% endif %}
										{% if menu_level == 0 %}

											{% if item.below %}

											</ul>
											<!-- end .nsw-subnavigation__list -->

										</div>
										<!-- end .nsw-subnavigation -->

									</li>
									<!-- end .nsw-navigation__list-item -->

								{% endif %}

							{% endif %}
							{% if menu_level > 0 %}

								{% if item.below %}

								</ul>
								<!-- end .nsw-subnavigation__list -->

							</div>
							<!-- end .nsw-subnavigation -->

						</li>
						<!-- end .nsw-navigation__list-item -->

					{% endif %}

				{% endif %}

			{% endfor %}

			{% if menu_level == 0 %}
			</ul>
			<!-- end .nsw-navigation__list -->
			{% if menu_level == 0 %}
			</nav>
		{% endif %}
		<!--endnoindex-->
	{% endif %}
{% endmacro %}

