{{ page.header_branding }}
{{ page.header_menu }}
<div id="content"></div>
{{ page.breadcrumb }}
{{ page.messages }}
{{ page.page_top }}
<section class="nsw-section">
  <div class="nsw-container">
    {{ page.content }}
  </div>
</section>
<footer class="nsw-footer">
 {{ page.footer_upper }}
 {{ page.footer }}
</footer>
