{{ attach_library('dphi_base_theme/component.spatial') }}

<div class="spatial">
  <{{ spatial.heading_size }}>{{ spatial.heading }}</{{ spatial.heading_size }}>
  {{ spatial.description }}
  {{ spatial.map_view }}
</div>
