{{ attach_library('dphi_base_theme/component.link_list') }}
{% if quickLinks.title is not empty %}
  <h2 class="nsw-p-left-sm">
    {% if quickLinks.icon %}
      <span class="nsw-material-icons {{ quickLinks.icon_outlined ? 'material-symbols-outlined' : 'material-icons' }} nsw-callout__icon {{ quickLinks.icon_class }}" focusable="false" aria-hidden="true">{{ quickLinks.icon }}</span>
    {% endif %} {{ quickLinks.title }}
  </h2>
{% endif %}
<div class="nsw-link-list">
  <ul>
    {% for link in quickLinks.links %}
      <li>
        {% include '@dphi_base_theme/components/component--links.html.twig' with { link : link } %}
      </li>
    {% endfor %}
    {% for list_item in quickLinks.list_items %}
      {% set link = {
        url: list_item.link,
        classes: 'multi-link',
        text: list_item.link_text,
        target: list_item.link_type == '1' ? '_blank' : '',
        icon: list_item.link_type == '0' ? 'get_app' : list_item.link_type == '1' ? 'open_in_new' : 'east'
      } %}
      <li>
        {% include '@dphi_base_theme/components/component--link.html.twig' %}
      </li>
    {% endfor %}
  </ul>
</div>
