{{ attach_library('dphi_base_theme/component.accordion') }}

<{{ accordionItem.titleTag ?: 'div' }} class="nsw-accordion__title">{{ accordionItem.title }}</{{ accordionItem.titleTag ?: 'div' }}>
<div class="nsw-accordion__content nsw-overflow-break nsw-bg--white">{{ accordionItem.content }}</div>
